<div class="animated fast fadeIn">
  <div class="box">
    <h2>PrimeNg</h2>
    <app-imagen-usuario [mostrarNombre]="false"></app-imagen-usuario><br />
  </div>

  <p-panel header="Registrar usuario">

    <div class="ui-g ui-fluid" style="display: flex; justify-content: center;">
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="temporalUsuario.nombre" pInputText placeholder="Nombre" />
        </div>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="temporalUsuario.apellidos" pInputText placeholder="Apellido" />
        </div>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="number" [(ngModel)]="temporalUsuario.dni" pInputText placeholder="DNI" />
        </div>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="temporalUsuario.profesion" pInputText placeholder="Profesion" />
        </div>
      </div>
    </div>
    
    <h4 *ngIf="temporalUsuario.hijos">Hijos</h4>
    <div class="hijos">
      <div *ngFor="let hijo of temporalUsuario.hijos; let i = index" style="width: 30%;">
        <p-card>
          <h4>{{ i + 1 }}</h4>
          <p> Nombre: {{hijo.nombre}}</p>
          <p> Apellidos: {{hijo.apellidos}}</p>
          <p> Edad: {{hijo.edad}}</p>
        </p-card>
        <br>
      </div>
    </div>

    <p-messages [(value)]="msgs"></p-messages>

    <p-footer style="text-align: left;">
      <button pButton (click)="onClickGuardar()" type="button" label="Guardar" class="ui-button-rounded" icon="pi pi-check" style="margin-right: 5px;"></button>
      <button pButton type="button" label="Agregar hijos" class="ui-button-rounded ui-button-success" icon="pi pi-plus" (click)="display = true"></button>
    </p-footer>

    
  </p-panel>
  
  <br>
  
  <p-panel header="Lista de Usuarios">

    <p-dataTable [value]="usuarios" [immutable]="false" expandableRows="true">
      <p-column expander="true" styleClass="col-icon" header="Hijos"></p-column>
      <p-column field="nombre" header="Nombre"></p-column>
      <p-column field="apellidos" header="Apellido"></p-column>
      <p-column field="dni" header="Dni"></p-column>
      <p-column field="profesion" header="Profesion"></p-column>
      <p-column field="" header="Accion">
        <ng-template pTemplate="body" let-usuario="rowData" let-index="rowIndex">
          <div style="display: flex; justify-content: center;">
              <button pButton (click)="onClickEditar(usuario, index)" type="button" class="ui-button-warning" style="margin: 0px 3px;" icon="pi pi-pencil"></button>
              <button pButton (click)="onClickEliminar(index)" type="button" class="ui-button-danger" icon="pi pi-trash" style="margin: 0px 3px;"></button>
          </div>
        </ng-template>
      </p-column>
      <ng-template let-usuario pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid">
          <div class="ui-grid-row" *ngFor="let hijo of usuario.hijos">
            <div class="ui-grid-col-12">
              <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Nombre: </div>
                  <div class="ui-grid-col-10">{{hijo.nombre}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Apellido: </div>
                  <div class="ui-grid-col-10">{{hijo.apellidos}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Edad: </div>
                  <div class="ui-grid-col-10">{{hijo.edad}}</div>
                </div>
                <hr>  
              </div>
            </div>
          </div>
          <p><strong>Total de Hijos: {{usuario.hijos.length}}</strong></p>
        </div>
      </ng-template>
    </p-dataTable>
      
  </p-panel>
  </div>
  
  <p-dialog header="Agregar Hijo" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}"
    [minY]="70" [baseZIndex]="10000">
    <div class="ui-g ui-fluid" style="display: flex; justify-content: center;">
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="temporalHijo.nombre" pInputText placeholder="Nombre" />
        </div>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" [(ngModel)]="temporalUsuario.apellidos" pInputText placeholder="Apellido" readonly/>
        </div>
      </div>
      <div class="ui-g-12 ui-md-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="number" [(ngModel)]="temporalHijo.edad" pInputText placeholder="Edad" />
        </div>
      </div>
    </div>
    <p-messages [(value)]="msgsh"></p-messages>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" label="Añadir" (click)="onClickGuardarHijo()"></button>
    </p-footer>
  </p-dialog>
